*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --color-de-texto: #A2DE96;
    --color-de-fondo: #3A6F43;
    --color-de-resalto: #59AC77;
    --color-de-box: #D7C3F1;
    --fuente-titulos:"Kalnia Glaze", serif;
    --fuente-texto:"Story Script", sans-serif;
}

body{
    font-family: var(--fuente-texto);
    background-color: var(--color-de-fondo);
}
header{
    font-family: var(--fuente-titulos);
    text-align: center;
    background-color: #BDE8CA;
}
section{
    background-color: var(--color-de-resalto);
    width: 70%;
    max-width: 800px;/*Maximo tope de estiramiento que debe tener */
    margin: 2rem auto;/*auto centra el bloque a los lados*/
    padding: 2rem;
    border-radius: 10%;
    justify-content: space-around;
    text-align: center;
}
h1{
    font-family: var(--fuente-titulos);
    background-color: #DBC6EB;
    border-radius: 5%;
    margin: 1rem auto;/*auto centra el bloque a los lados*/
    padding: 1rem;

}
ul{
    background-color: var(--color-de-box);
    border-radius: 50%;
    display: inline-table;
}
ol{
    background-color: var(--color-de-box);
    display: inline-table;
     border-radius: 10%;
     padding: 1rem;
}
section ul{
    list-style: none; 
    padding: 1rem;
    justify-content: space-around; 
}
ol li:hover{
    background-color: var(--color-de-texto);
    list-style: none; 
}
a{
    color: darkred;
    text-decoration: none;
}